<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Employer: ' + employer.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="job-listing">
    <p th:text="${'Name: ' + employer.name}"></p>
    <p th:text="${'Location: ' + employer.location}"></p>
</div>
<br>
<div class="container">
    <a href="../add"><button type="button">Add Another Employer</button></a>
    <a href="../../add"><button type="button">Back To Adding Jobs</button></a>
</div>

</body>
</html>